<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicketMach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TicketMach.Properties.Settings>
            <setting name="Cost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="surname" serializeAs="String">
                <value />
            </setting>
            <setting name="carplate" serializeAs="String">
                <value />
            </setting>
            <setting name="leftday" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autopark" serializeAs="String">
                <value />
            </setting>
        </TicketMach.Properties.Settings>
    </userSettings>
</configuration>